.wrapper {
    /* background: linear-gradient(to top, #d3cce3, #e9e4f0); */
    background: linear-gradient(to top, #74ebd5, #acb6e5);
    height: 100%;
}

.row {
    height: 100%;
}

.column {
    background: white;
    /* position: absolute;
    top: 25%; */
}

.card {
    min-height: 200px;
}
