.card {
    /* border: none; */
    background: #fafafa;
    border-bottom: none;
    border-left: none;
    border-right: none;

    /* & > div > div {
       padding-bottom: 12px !important;
    } */
}

.actions {
    /*float: right;*/
}
